NODE_ENV=development
PORT=number_here

# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME?schema=public"

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN="7d"

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# Backend URL (for frontend API calls)
BACKEND_URL=http://localhost:port_number_here